.dino {
  background: green;
  bottom: 0;
  position: absolute;
  height: 60px;
  width: 60px;
}

.cactus {
  background: red;
  bottom: 0;
  position: absolute;
  height: 60px;
  width: 60px;
}
